.post-heading>h1{
    text-shadow: black 0.1em 0.1em 0.2em;
}

.post-heading>.subheading {
    text-shadow: black 0.1em 0.1em 0.2em;
}

.post-heading>.meta {
    text-shadow: black 0.1em 0.1em 0.2em;
}

.post-heading>.tags>a{
    text-shadow: black 0.1em 0.1em 0.2em;
}

/* .navbar-brand {
    text-shadow: black 0.1em 0.1em 0.2em;
}

.nav>li {
    text-shadow: black 0.1em 0.1em 0.2em;
} */
