---
layout: page
description: "Evernote Ambassador<br>印象笔记资深印象大使<br>印象笔记年度象亲<br>坚果云效率大使<br>幕布布道师"
---

<div class="post-preview">
    <a href="https://congcong0806.github.io/2018/09/03/App">
        <h2 class="post-title">
            优秀的正版软件
        </h2>
    </a>
    <p class="post-meta">
	   [推荐]
    </p>
</div>
<hr>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
       <!-- <div class="post-content-preview"> -->
         <!--   {{ post.content | strip_html | truncate:200 }} -->
        <!--</div> -->
    </a>
    <p class="post-meta">
       <!-- Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}-->
	   <!--{{ post.date | date: "%B %-d, %Y" }}-->
	   {{ post.date | date: "%Y.%m.%d %B" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
