---
layout: page
description: "Evernote Ambassador<br>印象笔记资深印象大使<br>印象笔记年度象亲<br>坚果云效率大使<br>幕布布道师"
---

<div class="post-preview">
    <a href="https://congcong0806.github.io/2018/09/03/App" target="_blank">
        <h2 class="post-title">
            优秀的正版软件
        </h2>
    </a>
    <p class="post-meta">
	   [推荐]
    </p>
</div>
<hr>

{% for post in paginator.posts %}
{% if post.title == 'SS/SSR 简介' %}
    <div class="post-preview" style="display: none;">
        <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
            <h2 class="post-title">
                {{ post.title }}ssssssssssssssss
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-meta">
           {{ post.date | date: "%Y.%m.%d %A" }}
        </p>
    </div>
{% elseif post.title == '推荐' %}
    <div class="post-preview" style="display: none;">
        <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
            <h2 class="post-title">
                {{ post.title }}ssssssssssssssss
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-meta">
           {{ post.date | date: "%Y.%m.%d %A" }}
        </p>
    </div>
{% else %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-meta">
           <!-- Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}-->
           <!--{{ post.date | date: "%B %-d, %Y" }}-->
           {{ post.date | date: "%Y.%m.%d %A" }}
        </p>
    </div>
    <hr>
{% endif %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
