---
title:  (`)3′)Tags
layout: default
description: <font color="F0F8FF">stay hungry , stay foolish</font>
header-img: "img/cat-catch.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>







<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
			<div id='tag_cloud' class="tags">
				{% for tag in site.tags %}
				<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
				{% endfor %}
			</div>

            <!--<blockquote class="tag-comments">
                标签命名规范：
                    <li>行业观察、职位、公司优先使用中文</li>
                    <li>外国产品、术语优先使用英文</li>
            </blockquote>-->

			<!--仓鼠-->
			<object type="application/x-shockwave-flash" style="outline:none;" data="http://cdn.abowman.com/widgets/hamster/hamster.swf?up_waterColor=E0EFFF&up_feetColor=D4C898&up_bodyColor=E6DEBE&up_tailColor=E6DEBE&up_wheelColor=FFFFFF&up_snoutColor=F7F4E9&up_earColor=D4C898&up_wheelCenterColor=E4EB2F&up_foodColor=cba920&up_wheelSpokeColor=DEDEDE&up_bgColor=FAB4F5&up_eyeColor=000000&up_wheelOuterColor=FF4D4D&" width="300" height="225"><param name="movie" value="http://cdn.abowman.com/widgets/hamster/hamster.swf?up_waterColor=E0EFFF&up_feetColor=D4C898&up_bodyColor=E6DEBE&up_tailColor=E6DEBE&up_wheelColor=FFFFFF&up_snoutColor=F7F4E9&up_earColor=D4C898&up_wheelCenterColor=E4EB2F&up_foodColor=cba920&up_wheelSpokeColor=DEDEDE&up_bgColor=FAB4F5&up_eyeColor=000000&up_wheelOuterColor=FF4D4D&"></param><param name="AllowScriptAccess" value="always"></param><param name="wmode" value="opaque"></param></object>


            <!-- 标签列表 -->
			{% for tag in site.tags %}
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
				{% for post in tag[1] %}
				  <!-- <li class="listing-item">
				  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
				  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				  </li> -->
				 <div class="post-preview">
				    <a href="{{ post.url | prepend: site.baseurl }}">
				        <h2 class="post-title">
						<big>д･)...    |Σ( ° △ °|||)</big>
                            {{ post.title }}
				        </h2>
				        {% if post.subtitle %}
				        <h3 class="post-subtitle">
				            {{ post.subtitle }}
				        </h3>
				        {% endif %}
				    </a>
				    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
				</div>
				<hr>
				{% endfor %}
			</div>
			{% endfor %}

		</div>
	</div>
</div>
