<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script type="text/javascript" src="/assets/js/md5.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
    // gitalk的主要参数
        enable: true    
        clientID: '9a78f5bd6246c2baf3bc',
        clientSecret: 'e5b584a5928d4c26b568be1939fc0bb39fc4cb8a',
        repo: 'Demmon-tju.github.io',
        owner: 'Demmon-tju',
        admin: ['Demmon-tju'],
        id: md5(location.pathname),
        
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
