body{
	margin:0;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;

	overflow: hidden;

}
canvas{
	float:left;
	margin-right: 20px;
}
#whole_container{
	position: absolute;
	width: 100%; height: 100%;
	top:0px;
	-webkit-transition: top 1s ease-in-out;
	-moz-transition: top 1s ease-in-out;
	-ms-transition: top 1s ease-in-out;
	transition: top 1s ease-in-out;
}
#screen_one, #screen_two{
	width:100%; height:100%;
	position: relative;
}
#screen_one{
	background-color: #bbb;
	background-image: url(intro.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#screen_two{
	background:#333;
}

#canvas_container{
	width:940px;
	height:800px;
	position: absolute;
	margin:auto;
	top:0; left:0; right:0; bottom:0;
	background-image: url(levels_bg.png);
	background-repeat: no-repeat;
}

#valentines_text, #rewind_text, #replay_text{
	display: none;
	position: absolute;
	bottom:0;
	width:100%;
	height:50px;
	color:#666;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0px;

	-webkit-transition: letter-spacing 5s ease-out;
	-moz-transition: letter-spacing 5s ease-out;
	-ms-transition: letter-spacing 5s ease-out;
	transition: letter-spacing 5s ease-out;

}
#rewind_text, #replay_text{
	color: #ccc;
	letter-spacing: 2px;
	/*text-align: left;*/
}

#loading{
	position: fixed;
	top:0; left:0;

	width:100%;
	height: 100%;

	background: #333;
	color: #fff;
	font-size: 30px;
	letter-spacing: 5px;
	text-align:center;

	z-index: 1;
}
#loading > div{
	position: absolute;
	margin: auto;
	top:0; left:0; right:0; bottom:0;
	width:100%; height:50px;
}