---
title: 入社审核
layout: default
description: Are you ready?
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
    <frameset>
      <frame src="{{ site.baseurl }}/shenhe" name="iframe">
    </frameset></frameset>
<meta name=”viewport” content=”width=device-width, initial-scale=1″ />
</header>

<body>
    <div class="xushu">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;考试时间：两个半小时</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若规定时间内未答完题，则页面自动刷新，答题无效，手机用户注意请先答大题</p>
    </div>
<div class="main_page">
	 <iframe scrolling="yes" id="main" name="main" frameborder="0"  src="https://wj.qq.com/s/1825220/96da" style="min-height:600px;width:100%;height:100%;"></iframe>
</div>
</body>


