---
title: 入社审核
layout: default
description: Are you ready?
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
    <frameset>
      <frame src="{{ site.baseurl }}/shenhe" name="iframe">
    </frameset></frameset>
<meta name=”viewport” content=”width=device-width, initial-scale=1″ />
</header>

<body>
    <div class="xushu">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;考试时间：两个半小时</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若规定时间内未答完题，则页面自动刷新，答题无效，手机用户注意请先答大题</p>
    </div>
    <div class="shenhe">
<script type="text/javascript">
    //设置body高度为浏览器高度，当然也可以不设置   
    document.getElementsByTagName('body')[0].style.height = window.innerHeight+'px';
</script>
    <!--iframe的高度设置为父元素的高度即可实现高度自适应-->
    <!--这边以body为父元素，当然也可以以div之类的元素为父元素-->
    <iframe name="Info1" id="Info1" src="http://fengxueshe.github.io" onload="this.height=body.offsetHeight" width="100%" scrolling="true" frameborder="0"></iframe>
    </div>
</body>


