<!DOCTYPE html>
<html lang="en">

{% include head.html %}

    
    
<!-- hack iOS CSS :active style -->
<body ontouchstart="">
      

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}



                            
    
<!-- Image to hack wechat -->
<img src="/img/cat-touch-ico.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

<!--鼠标点击爱心动画-->
<!--script type="text/javascript" src="/js/click.js"></script>-->
    
    
<!--点击显示表情-->
<script type="text/javascript" src="/js/click_word.js"></script>
    

<!-- 点击显示波纹-->
<script type="text/javascript" src="/js/click_bowen.js"></script>  
    
<!-- 雪花特效 -->
<script type="text/javascript" src="/js/snow.js"></script>
    
    
<!-- 点击显示波纹-->
<script type="text/javascript" src="/js/button-donghua.js"></script> 
    
    
    
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.js"></script>
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    
    
</body>

</html>
